NODE_ENV=development
PORT=3001

DB_PG_DATABASE=portfolio_nest
DB_PG_HOST=localhost
DB_PG_PORT=5433
DB_PG_USERNAME=postgres
DB_PG_PASSWORD=postgres
DB_SCHEMA=public

FRONTEND_URL=http://localhost:3000

JWT_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret